.about {
    // box model

    &__container {
        // box model
        padding: 20px 0;
    }
    
    &__description {
        // box model
        margin-bottom: 100px;
        
    }

    &__item {
        // box model
        text-align: center;
    }

    &__img {
        // width: calc(100%-30%);
        max-height: 500px;
        margin-bottom: 50px;
    }

    &__icon {
        // box model
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
    &__image {
        width: 100%;
        height: 100%;
    }

    &__title {
        // box model

        // typography
        font-family: $titleFont;
        font-size: 1.375rem;
        text-transform: uppercase;
    }

    &__item {
        // box model
        margin-bottom: 100px;
    }

}