// Colors
$white: #ffffff;
$accent: #2ecc71;
$titleColor: #566366;
$textColor: #919191;
$sectionColor: #f2f2f1;
$FormColor: #4b5456;
$ButtonColor: #191f21;
$SkillsColor: #2ecc71;
$footer: #252e30;

// Fonts
$titleFont: 'Roboto Bold',sans-serif;
$WebDeveloperFont: 'Myriad Pro Regular',sans-serif;
$textFont: 'Roboto Regular',sans-serif;
$ContactsFont: 'Roboto Medium',sans-serif;
