<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title VerDan777
    body
        header.header
            .header__container
                h1.header__title Web Developer
                a.header__button(href="№") Learn More

            nav.main-nav
                .logo: img(src="./img/logo.png", alt="logo")
                nav.menu-icon: .menu-icon__middle
                .main-menu
                    ul.main-menu__list
                        li.main-menu__item: a.main-menu__link(href="#home") Home
                        li.main-menu__item: a.main-menu__link(href="#skills") About me
                        li.main-menu__item: a.main-menu__link(href="#resume") Skills
                        li.main-menu__item: a.main-menu__link(href="#testimonials") Resume
                        li.main-menu__item: a.main-menu__link(href="#portfolio") Testimonials
                        li.main-menu__item: a.main-menu__link(href="#contacts") Contact me

        section.section.section--small.hobbies
            article.hobbies__item
                    h3.section__title Values
                    p.section__text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
            article.hobbies__item
                    h3.section__title Goals
                    p.section__text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
            article.hobbies__item
                    h3.section__title Hobbies
                    p.section__text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                    
        section.section.section--grey.about
            .about__img: img.about__image(src="./img/about.jpg", alt="about")
            .about__container
                .about__description
                    h3.section__title About me
                    p.section__text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                    p.section__text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.

                article.about__item
                    img.about__icon(src="./img/icons/web.svg", alt="")
                    h4.about__title Web Design
                    p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.

                article.about__item
                    img.about__icon(src="./img/icons/pen.svg")
                    h4.about__title Graphic Design
                    p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.

                article.about__item
                    img.about__icon(src="./img/icons/marketing.svg")                
                    h4.about__title Online Marketing
                    p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.

                article.about__item
                    img.about__icon(src="./img/icons/seo.svg")                
                    h4.about__title Seo
                    p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
        
        section.section.skills
            .skills__container
                    .skills__about
                        h2.section__title My skills
                        p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
                        p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                        a.button(href="#") Contact me
                    .skills__skills
                            ul.skills__list
                                li.skills__item
                                    h5.skills__title Photoshop
                                    .skills__img: img(src="./img/90percent.jpg", alt="")
                                li.skills__item
                                    h5.skills__title ILLUSTRATOR
                                    .skills__img: img(src="./img/80percent.jpg", alt="")
                                li.skills__item
                                    h5.skills__title HTML/CSS
                                    .skills__img: img(src="./img/90percent.jpg", alt="")
                                li.skills__item
                                    h5.skills__title PHP/MYSQL
                                    .skills__img: img(src="./img/70percent.jpg", alt="")
        
        section.section.section--small.section--grey.resume
            .section__container
                h5.section__title Resume
                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                a.button(href="#") Download Resume
        
        section.section.works
            .works__container
                .works__article-container
                    article.works__article
                        .works__about
                            h5.section__title My Education
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                        .works__story
                            .works__header
                                h5.section__title.section__title--positioning Graphic Design Diploma
                                p.section__subscription Revees College<span> / June 2008 - May 2010</span>
                                mark.works__mark 4.0 GPA
                            .works__desription
                                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.

                    article.works__article
                        .works__about
                            h5.section__title My Education
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                        .works__story
                            .works__header
                                h5.section__title.section__title--positioning Web Developer
                                p.section__subscription Revees College <span> / June 2008 - May 2010</span>
                                mark.works__mark 4.0 GPA
                            .works__desription
                                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                
                .works__article-container
                    article.works__article
                        .works__about
                            h5.section__title My Education
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                        .works__story
                            .works__header
                                h5.section__title.section__title--positioning Web Developer
                                p.section__subscription Revees College <span> / June 2008 - May 2010</span>
                                mark.works__mark 4.0 GPA
                            .works__desription
                                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.

                    article.works__article
                        .works__about
                            h5.section__title My Education
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                            p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                        .works__story
                            .works__header
                                h5.section__title.section__title--positioning Web Developer
                                p.section__subscription Revees College <span> / June 2008 - May 2010</span>
                                mark.works__mark 4.0 GPA
                            .works__desription
                                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.

        section.section.section--grey.reviews
            .section__container
                blockquote.section__text.section__text--reviews “Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”
                .reviews__sign John Stone
        
        section.section.portfolio
            .section__container
                h3.section__title Portfolio
                p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                .portfolio__container
                    a.portfolio__link(href="#")
                        img.portfolio__item(src="./img/carrey.png")
                    
                    a.portfolio__link(href="#")
                        img.portfolio__item(src="./img/giraffe.png")
                    a.porftolio__link(href="#")
                        img.portfolio__item(src="./img/ontario.png")
                    a.porfolio__link(href="#")
                        img.portfolio__item(src="./img/icons.png")
                    a.portfolio__link(href="#")
                        img.portfolio__item(src="./img/pattern.png")
                    a.portfolio__link(href="#")
                        img.portfolio__item(src="./img/elana.png")
                    a.portfolio(href="#")
                        img.portfolio__item(src="./img/controls.png")
                    a.portfolio__link(href="#")   
                        img.portfolio__item(src="./img/burned.png")                        
                    a.portfolio__link(href="#")
                        article.portfolio__item

        section.section.contacts
            .section__container
                .contacts__info
                    h5.contacts__title  Contact me 
                    p.section__text Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    p.section__text 122 33rd Street East<br>Saskatoon, SK<br>S7K 1R9
                    .contacts__call-info
                        span.contacts__email Email: <span>vereshhagin98@mail.ru</span>
                        span.contacts__phone Phone: <a href="tel: +79527961199">+7(952)796-11-99</a>
                .form(action="#", method="POST")
                    p.form__input-group
                        label.form__label(for="form__name") Name 
                        input.form__input(type="text" name="form-name")
                    p.form__input-group
                        label.form__label(for="form__email") Email
                        input.form__input(type="text" name="form-email")
                    p.form__input-group
                        label.form__label(for="form__n") Message
                        textarea.form__textarea(placeholder="Введите текст")
                input.form__submit(type="submit" value="Contact me")

        
        footer.footer
            .footer__container
                .footer__copyright Copyright 2014 Focal - Daniil Vereschagin
                .socials
                    a(href="").socials__item.socials__item--tw
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#twiiter")

                    a(href="").socials__item.socials__item--google
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#google")

                    a(href="").socials__item.socials__item--pin
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#pinterest")

                    a(href="").socials__item.socials__item--dribble
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#dribble")
                    
                    a(href="").socials__item.socials__item--vk
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#vk")

                    a(href="").socials__item.socials__item--fb
                        svg.socials__icon: use(xlink:href="./img/icons.sprite.svg#facebook")